@{
    ViewBag.Title = "Ders Ekleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WeeklyProgram

<div class="col-sm-12 panel panel-default minimum">
    <div class="row panel-heading">
        <h4>Ders Oluştur</h4>
    </div>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div class="row panel-body">
            <form method="post" action="/Program/Add">
                @Html.AntiForgeryToken()
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="room">Sınıf:</label>
                        <input id="room" name="roomid" value="@Model.RoomId" hidden="hidden" />
                        <p class="form-control-static">@Model.Room.Name</p>
                    </div>
                    <div class="form-group">
                        <label for="day">Gün:</label>
                        <input id="name" name="day" value="@Model.Day" hidden="hidden" />
                        <p class="form-control-static">@Model.WeekDay.Name</p>
                    </div>
                    <div class="form-group">
                        <label for="hour">Saat:</label>
                        <input id="hour" type="number" class="form-control" name="hour" value="@Model.Hour" min="9" max="21" step="1" />
                    </div>
                    <div class="form-group">
                        <label for="student">Öğrenci:</label>
                        <select id="student" name="studentid" class="form-control">
                            @foreach (var student in ViewData["Students"] as List<Student>)
                            {
                                <option value="@student.Id">@student.Name @student.Surname</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="lecture">Enstrüman:</label>
                        <select id="lecture" name="lectureid" class="form-control">
                            @foreach (var lecture in ViewData["Lectures"] as List<Lecture>)
                            {
                                <option value="@lecture.Id">@lecture.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="teacher">Eğitmen:</label>
                        <select id="teacher" name="teacherid" class="form-control">
                            @foreach (var teacher in ViewData["Teachers"] as List<Teacher>)
                            {
                                <option value="@teacher.Id">@teacher.Name @teacher.Surname</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="startdate">Başlangıç Tarihi:</label>
                        <input id="startdate" type="date" name="startdate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="enddate">Bitiş Tarihi (Boş Bırakılabilir):</label>
                        <input id="enddate" type="date" name="enddate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="price">Fiyat:</label>
                        <input type="number" name="price" class="form-control" value="0"/>
                    </div>
                    <div class="form-group">
                        <label for="note">Not:</label>
                        <textarea class="form-control" rows="5" id="note" name="note"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
                <div class="col-sm-6 text-warning">@Html.ValidationSummary(false)</div>
            </form>
        </div>
    }
    else
    {
        <div class="col-md-12 panel-body text-center"><h4>Ders oluşturmak için giriş yapın</h4></div>
    }
</div>
@section script{
<script>

</script>
}
