@{
    ViewBag.Title = "Ders Ekleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WeeklyProgram

<div class="col-sm-12">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div class="row">
            <h3>Ders Oluştur</h3>
        </div>
        <div class="row">
            <form class="form-horizontal" method="post" action="/Program/Add">
                @Html.AntiForgeryToken()
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="room" class="col-sm-2 control-label">Sınıf:</label>
                        <input name="roomid" value="@Model.RoomId" hidden="hidden" />
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.Room.Name</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="day" class="col-sm-2 control-label">Gün</label>
                        <input name="day" value="@Model.Day" hidden="hidden" />
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.WeekDay.Name</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Saat:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="hour" value="@Model.Hour" min="9" max="21" step="1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Öğrenci:</label>
                        <div class="col-sm-10">
                            <select class="form-control" data-live-search="true">
                                
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
                <div class="col-sm-6 text-warning">@Html.ValidationSummary(false)</div>
            </form>
        </div>
    }
    else
    {
        <div class="col-md-12 text-center"><h4>Ders oluşturmak için giriş yapın</h4></div>
    }
</div>
@section script{
<script>
    //$(function () {

    //});

    //$(document).ready(function () {
    //    $("#student").autocomplete({
    //        source: function (request, response) {
    //            $.ajax({
    //                url: $url,
    //                type: "POST",
    //                dataType: "json",
    //                data: { prefix: request.term },
    //                success: function (data) {
    //                    response($.map(data, function (item) {
    //                        return { label: item.Name, value: item.Name };
    //                    }))
    //                },
    //                error: function () {
    //                    alert('something went wrong!');
    //                }
    //            })
    //        },
    //        messages: {
    //            noResults: "",
    //            results: ""
    //        }
    //    });
    //});
</script>
}
