
@{
    ViewBag.Title = "Program Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WeeklyProgram

<table class="table">
    <thead>
        <tr><th colspan="2"><h3 class="text-center">Program Detayı</h3></th></tr>
    </thead>
    <tbody>
        <tr>
            <th>Sınıf:</th><th><a href="/Room/Detail/@Model.RoomId">@Model.Room.Name</a></th>
        </tr>
        <tr>
            <th>Öğrenci Adı:</th><th><a href="/Student/Detail/@Model.StudentId">@Model.Student.Name @Model.Student.Surname</a></th>
        </tr>
        <tr>
            <th>Enstrüman:</th><th>@Model.Lecture.Name</th>
        </tr>
        <tr>
            <th>Eğitmen Adı:</th><th><a href="/Teacher/Detail/@Model.Teacher.Id">@Model.Teacher.Name</a></th>
        </tr>
        <tr>
            <th>Saat:</th><th>@Model.Hour.ToString():00</th>
        </tr>
        <tr>
            <th>Başlangıç Tarihi:</th><th>@Model.StartDate.ToString("dd MMMM yyyy")</th>
        </tr>
        <tr>
            <th>Bitiş Tarihi:</th><th>@if (Model.EndDate.HasValue) {@Model.EndDate.Value.ToString("dd MMMM yyyy")}</th>
        </tr>
        <tr>
            <th>Ders Fiyatı:</th><th>@String.Format("{0:0.00}", Model.Price)₺</th>
        </tr>
        <tr>
            <th>Not:</th><th>@Model.Note</th>
        </tr>
    </tbody>
</table>
