
@{
    ViewBag.Title = "Program Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WeeklyProgram

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">
                <h4>Program Detayı</h4>
            </div>
            <div class="text-right">
                <a href="#" class="btn btn-danger">Dersi Yak</a>
                <a href="#" class="btn btn-warning">Dersi Ertele</a>
            </div>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label for="room" class="control-label col-sm-2">Sınıf:</label>
                <div class="col-sm-10">
                    <p id="room" class="form-control-static">
                        <a href="/Room/Detail/@Model.RoomId">@Model.Room.Name</a>
                    </p>
                </div>

                <label for="student" class="control-label col-sm-2">Öğrenci:</label>
                <div class="col-sm-10">
                    <p id="student" class="form-control-static">
                        <a href="/Student/Detail/@Model.StudentId">@Model.Student.Name @Model.Student.Surname</a>
                    </p>
                </div>

                <label for="lecture" class="control-label col-sm-2">Enstrüman:</label>
                <div class="col-sm-10">
                    <p id="lecture" class="form-control-static">@Model.Lecture.Name</p>
                </div>

                <label for="teacher" class="control-label col-sm-2">Eğitmen Adı:</label>
                <div class="col-sm-10">
                    <p id="teacher" class="form-control-static">
                        <a href="/Teacher/Detail/@Model.Teacher.Id">@Model.Teacher.Name @Model.Teacher.Surname</a>
                    </p>
                </div>

                <label for="lecture" class="control-label col-sm-2">Saat:</label>
                <div class="col-sm-10">
                    <p id="lecture" class="form-control-static">@Model.Hour.ToString():00</p>
                </div>

                <label for="startdate" class="control-label col-sm-2">İlk Ders Günü:</label>
                <div class="col-sm-10">
                    <p id="startdate" class="form-control-static">@Model.StartDate.ToString("dd MMMM yyyy")</p>
                </div>

                <label for="enddate" class="control-label col-sm-2">Bitiş:</label>
                <div class="col-sm-10">
                    <p id="enddate" class="form-control-static">
                        @if (Model.EndDate.HasValue)
                        {
                            @Model.EndDate.Value.ToString("dd MMMM yyyy")
                            <a href="#" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#SetEndDate">Bitiş Tarihini Güncelle</a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#SetEndDate">Bitiş Tarihi Ekle</a>
                        }
                    </p>
                </div>

                <label for="price" class="control-label col-sm-2">Ders Fiyatı:</label>
                <div class="col-sm-10">
                    <p id="price" class="form-control-static">@String.Format("{0:0.00}", Model.Price)₺</p>
                </div>

                <label for="note" class="control-label col-sm-2">Not:</label>
                <div class="col-sm-10">
                    <p id="note" class="form-control-static">@Model.Note</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Ödeme Bilgisi</h1>
        </div>
        <div class="panel-body">
            <p>Kalan Borç: <kbd>@String.Format("{0:0.00}", ViewData["Debt"])₺</kbd></p>
            <p>Sonraki Ödeme Günü: <kbd>@String.Format("{0:dd MMMM yyyy dddd}", ViewData["paymentDate"])</kbd></p>
            <p>Ödeme Geçmişini görüntülemek için popup veya modal'ı eklenecek.</p>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Telafi Dersleri</h1>
        </div>
        <div class="panel-body">
            <p>Telafi ders listesi buraya gelecek. Telafi dersi oluştur sayfasına yönlendirilecek.</p>
        </div>
    </div>
</div>
@section modal{
<div id="SetEndDate" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bitiş Tarihi Ekle</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/Program/AddEndDate">
                    <input id="programid" type="hidden" name="id" value="@Model.Id" />
                    <div class="form-group">
                        <label for="enddate">Biriş Tarihi:</label>
                        <input id="enddate" type="date" name="enddate" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    </div>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </form>
            </div>
        </div>
    </div>
</div>
}