@{
    ViewBag.Title = "Gün Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<PivotTable>

<div class="panel panel-default minimum">
    <div class="panel-heading program-menu">
        <div class="pager">
            <a class="previous" href="/Program/@String.Format("{0:MM-dd-yyyy}", ViewData["yesterday"])">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            </a>
            <span>@String.Format("{0:dd MMMM yyyy dddd}", ViewData["today"])</span>
            <a class="next" href="/Program/@String.Format("{0:MM-dd-yyyy}", ViewData["tomorrow"])">
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-condensed" align="center">
            <thead>
                <tr>
                    <th>#</th>
                    @foreach (var item in ViewData["Rooms"] as IEnumerable<Room>)
                    {
                        <th class="text-center">@item.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Hour:00</th>

                        @foreach (var room in item.Rooms)
                        {
                            try
                            {
                                if (room.Student.Name != null)
                                {
                                    <th class="no-padding">
                                        <a class="btn btn-success room" title="@room.Teacher.Name @room.Teacher.Surname" href="@Url.Action("Detail","Program", new { id = room.Id })">
                                            @room.Student.Name @room.Student.Surname
                                        </a>
                                    </th>
                                }

                            }
                            catch (Exception)
                            {
                                <th class="no-padding"><input type="button" class="btn btn-default emptyroom" onclick="location.href='@Url.Action("Add", "Program", new { roomid = room.Id, hour = room.Hour, day = room.Day })'" /></th>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>