@{
    ViewBag.Title = "Gün Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<PivotTable>

<div class="row text-center program-menu">
    <div class="col-md-offset-2 col-md-1">
        <a href="/Program/@ViewData["yesterday"]">
            <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-6">
        <h3>@ViewData["today"]</h3>
    </div>
    <div class="col-md-1">
        <a href="/Program/@ViewData["tomorrow"]">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" align="center">
            <thead>
                <tr>
                    <th>#</th>
                    @foreach (var item in ViewData["Rooms"] as IEnumerable<Room>)
                    {
                        <th>@item.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Hour:00</th>
                        <th>
                            @if (@item.Room1 != 0)
                            {<a href="\Program\Detail\@item.Room1">Ders Detayı</a>}
                        </th>
                        
                        <th>
                            @if (@item.Room2 != 0)
                            {<a href="\Program\Detail\@item.Room2">Ders Detayı</a>}
                        </th>
                        <th>
                            @if (@item.Room3 != 0)
                            {<a href="\Program\Detail\@item.Room3">Ders Detayı</a>}
                        </th>
                        <th>
                            @if (@item.Room4 != 0)
                            {<a href="\Program\Detail\@item.Room4">Ders Detayı</a>}
                        </th>
                        <th>
                            @if (@item.Room5 != 0)
                            {<a href="\Program\Detail\@item.Room5">Ders Detayı</a>}
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>