
@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Student

<div class="col-sm-12 panel panel-default minimum">
    <div class="row panel-heading">
        <h4>Öğrenci Bilgisi Güncelle</h4>
    </div>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div class="row panel-body">
            <form method="post" action="/Student/Update">
                @Html.AntiForgeryToken()
                <div class="col-sm-6">
                    <!--ID-->
                    <input name="id" type="text" value="@Model.Id" hidden="hidden" />
                    <!--ID-->
                    <div class="form-group">
                        <input id="name" type="text" class="form-control" name="name" placeholder="İsim" value="@Model.Name">
                    </div>
                    <div class="form-group">
                        <input id="surname" type="text" class="form-control" name="surname" placeholder="Soyisim" value="@Model.Surname">
                    </div>
                    <div class="form-group" data-toggle="buttons">
                        <label class="btn btn-default @if (!Model.isFemale) {<text>active</text>}">
                            <input type="radio" name="gender" value="male" @if (!Model.isFemale) {<text>checked</text>} /> Erkek
                        </label>
                        <label class="btn btn-default  @if (Model.isFemale) {<text>active</text>}">
                            <input type="radio" name="gender" value="female" @if (Model.isFemale) {<text>checked</text>} /> Kadın
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Doğumgünü</label>
                        <input id="birthdate" type="date" name="birthday" class="form-control" value="@if (Model.Birthday.HasValue) { @Model.Birthday.Value.ToString("yyyy-MM-dd") }" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefon Numarası</label>
                        <input id="phone" type="tel" class="form-control" name="phone" placeholder="+90 XXX-XXX-XXXX" value="@Model.Phone" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="ornek@musicschool.com" value="@Model.Email" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="school" name="school" placeholder="Okul" value="@Model.School" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="job" name="job" placeholder="Meslek" value="@Model.Job" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="reference" name="reference" placeholder="Referans olan kişi" value="@Model.Reference" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </div>
                </div>
                <div class="col-sm-6 text-warning">@Html.ValidationSummary(false)</div>
            </form>
        </div>
    }
    else
    {
        <div class="col-md-12 panel-body text-center"><h4>Öğrenci bilgilerini düzenlemek için giriş yapın</h4></div>
    }
</div>