
@{
    ViewBag.Title = "Eğitmen Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Teacher

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">
                <h4>Eğitmen Bilgileri</h4>
            </div>
            <div class="text-right">
                <a href="/Teacher/Update/@Model.Id" class="btn btn-info">Güncelle</a>
            </div>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label for="fullname" class="control-label col-sm-2">Adı Soyadı:</label>
                <div class="col-sm-10">
                    <p id="fullname" class="form-control-static">@Model.Name @Model.Surname</p>
                </div>

                <label for="birthday" class="control-label col-sm-2">Doğ.Tarih:</label>
                <div class="col-sm-10">
                    <p id="birthday" class="form-control-static">
                        @if (Model.Birthday.HasValue)
                        {@Model.Birthday.Value.ToString("dd MMMM yyyy")}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Enstrüman Listesi</h1>
        </div>
        <div class="panel-body">
            <form action="/Teacher/AddOrRemoveLecture" method="post">
                <input type="text" name="TeacherId" value="@Model.Id" hidden="hidden" />
                <div class="form-group" data-toggle="buttons">
                    @foreach (var item in Model.TeacherLectures)
                    {
                        <label class="btn btn-success">
                            <input type="radio" name="LectureId" value="@item.LectureId" /> @item.Lecture.Name
                        </label>
                    }

                    @foreach (var item in ViewData["UMLectures"] as List<Lecture>)
                    {
                        <label class="btn btn-default">
                            <input type="radio" name="LectureId" value="@item.Id" /> @item.Name
                        </label>
                    }
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Hakediş</h1>
        </div>
        <div class="panel-body">
            <p>Toplam Hakediş: <kbd>@String.Format("{0:0.00}", ViewData["progress"])₺</kbd></p>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Eğitmenin Verdiği Dersler</h1>
        </div>
        <div class="list-group">
            @foreach (var item in Model.WeeklyPrograms)
            {
                <a class="list-group-item" href="/Program/Detail/@item.Id"><strong>@item.WeekDay.Name</strong> günü <strong>@item.Room.Name</strong> sınıfında <strong>@item.Hour:00'da</strong> <strong>@item.Student.Name @item.Student.Surname</strong> ile <strong>@item.Lecture.Name</strong> dersi var.</a>
            }
        </div>
    </div>
</div>
@section script{
    <script>
    $('input[type=radio]').on('change', function () {
        $(this).closest("form").submit();
    });
    </script>
}