    <!-- Sidebar Header -->
    <div class="sidebar-header">

    </div>

    <!-- Sidebar Links -->
<ul class="nav navbar-left">
    <li><a href="@Url.Action("Index", "Program")">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Program</a></li>
    <li><a href="@Url.Action("Index", "Room")">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Sınıflar</a></li>
    <li><a href="@Url.Action("Index", "Lecture")">
        <span class="glyphicon glyphicon-music" aria-hidden="true"></span> Enstrümanlar</a></li>
    <li><a href="@Url.Action("Index", "Teacher")">
        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Eğitmenler</a></li>
    <li><a href="@Url.Action("Index", "Student")">
        <span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span> Öğrenciler</a></li>
</ul>
